.radio {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 32, 46);
    opacity: 0.0;

    transition: opacity 0.2s;
    overflow: hidden;
}

/* TITLE */
.radio > .header > .box1 {
    position: absolute;
    top: -7%;
    left: -3%;
    width: 150%;
    height: 25%;
    background-color: #242C3A;

    transform: rotate(-5deg);
    z-index: 1;
}

.radio > .header > .box2 {
    position: absolute;
    top: -1%;
    width: 150%;
    height: 25%;
    background-color: rgba(36, 44, 58, 0.47);

    transform: rotate(10deg);
    z-index: 2;
}

.radio > .header > .title {
    position: absolute;
    top: 6%;
    left: 50%;

    transform: translateX(-50%);

    color: white;
    font-family: Poppins;
    font-size: 1.2vw;
    white-space: nowrap;
    
    z-index: 3;
}

/* ----------- */
/* RADIO PANEL */
/* ----------- */
.radio > .radioPanel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 32, 46);
    transition: 0.35s;
}

.radio > .radioPanel > .inputs {
    transition: 0.1s;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
}

.radio > .radioPanel > .inputs > label {
    display: block;
    margin-left: 0.6vw;
    line-height: 1vw;
    margin-bottom: 0.2vw;
    font-size: 0.55vw;
    font-family: Poppins;
    color: rgba(255, 255, 255, 0.705);
}

.radio > .radioPanel > .inputs > input {
    position: relative;
    display: block;
    margin-bottom: 0.9vw;

    width: 12.5vw;
    height: 2.3vw;
    font-size: 0.7vw;

    padding-left: 1vw;
    outline: 0;
    border: 0;

    color: white;
    font-size: 0.65vw;
    font-family: Poppins;
    background: #1F2938;
    border-radius: 0.6vw;
    box-sizing: border-box;
}

.radio > .radioPanel > .inputs > input::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.6vw;
    font-family: Poppins;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.radio > .radioPanel > .inputs > button {
    transition: 0.1s;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5vw;
    width: 98%;
    height: 2.1vw;
    border-radius: 0.5vw;

    font-size: 0.65vw;
    font-family: PoppinsRegular;
    outline: 0;
    padding: 0;
}

.radio > .radioPanel > .inputs > .radioPanel {
    background-color: #3668b4;
}

.radio > .radioPanel > .inputs > .radioPanel:hover {
    background-color: #4681da;
}

.radio .fill {
    border: 0;
    color: white;
    background-color: #1F2938;
    transition: 0.1s;
}

.radio .nofill {
    background: rgba(255, 255, 255, 0.02);
    border: solid 0.1vw rgba(163, 175, 197, 0.1);
    color: #A3AFC5;
    transition: 0.1s;
}

.radio .fill:hover {
    background-color: #2a3749;
}

.radio .nofill:hover {
    background-color: rgba(163, 175, 197, 0.15);
}